body {
  --deck-box-shadow: 5px 0 18px -10px #333;
  --back-card-box-shadow: 5px 0 8px -10px #333;
  --animation-timing: 5.8s;
  --card-width: 300px;
  --card-height: 500px;
  --card-border-radius: 10px;

  --card-back-rotation: 20deg;
  --deck-rotation: -10deg;

  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


.container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.deck {
  position: relative;
  width: var(--card-width);
  background-image: url(../img/pattern.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--card-height);
  border-radius: var(--card-border-radius);
  box-shadow: var(--deck-box-shadow);
  /* border: solid red 2px; */
  border: none;
  transform-style: preserve-3d;
  transform: translateZ(0rem);

  /* z-index: 99; */
}

.deck,
.deck::before,
.deck::after {
  /* Add shadow to distinguish sheets from one another */
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
}

.deck::before,
.deck::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/pattern.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* border: solid red 4px; */
}

/* Second sheet of deck */
.deck::before {
  left: 4px;
  top: 4px;
  z-index: -5;
  transform: translateZ(-0.25rem);
}

/* Third sheet of deck */
.deck::after {
  left: 8px;
  top: 8px;
  z-index: -6;
  transform: translateZ(-0.5rem);

}

.back-card {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  z-index: -1;
  background-image: url(../img/pattern.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--card-border-radius);
  pointer-events: none;
}

.taken-card-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.taken-card-container > div {
  width: 100%;
}

.taken-card {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  z-index: 1;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: translateZ(5rem);

}

/* This container is needed to position the front and back side */
.taken-card__inner {
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* border: solid red 1px; */
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .taken-card:hover {
  transform: rotateY(180deg);
} */

/* Position the front and back side */
.taken-card__front, .taken-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.taken-card__front {
  background-color: #bbb;
  color: black;
  border-radius: var(--card-border-radius);

  background-image: url(../img/pattern.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Style the back side */
.taken-card__back {
  /* background-image: url(../img/1.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border-radius: var(--card-border-radius);

  transform: rotateY(180deg);
}

.btn {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px;
  /* background: cornsilk; */
  background: transparent;
  border: solid #333 0.20rem;
  color: #333;
  font-size: 1.2rem;

  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.animate-deck {
  animation-iteration-count: 1;
  animation: deckTilt var(--animation-timing) forwards;
}

.animate {
  animation-iteration-count: 1;
  animation: shuffle var(--animation-timing) forwards;
}

@keyframes deckTilt {
  from {
  }
  50% {
    transform: translateX(calc((var(--card-width) / 2) * -1)) rotate3d(0, 1, 0, -40deg) rotate3d(0, 0, 1, var(--deck-rotation));
  }
  to {
  }
}

@keyframes shuffle {
  from {
    box-shadow: var(--back-card-box-shadow);
    transform: scale(0.6) translateZ(-30px);

  }
  50% {
    transform: translateZ(-30px) translateX(calc(var(--card-width) / 1.3)) rotate3d(0, 0, 1, var(--card-back-rotation)) rotate3d(1, 0, 0, 20deg)  rotate3d(0, 1, 0, -10deg);
    box-shadow: var(--deck-box-shadow);
    z-index: -1;
  } 
  51% {
    transform: translateZ(2rem) translateX(calc(var(--card-width) / 1.3)) rotate3d(0, 0, 1, var(--card-back-rotation)) rotate3d(1, 0, 0, 20deg)  rotate3d(0, 1, 0,-10deg);
    z-index: 1;
  }
  to {
    z-index: 1;
  }
}