.container {
  --deck-box-shadow: 5px 0 38px -10px #333;
  --back-card-box-shadow: 5px 0 8px -10px #333;
  --animation-timing: 0.8s;

  width: 100%;
  /* height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
}

.deck {
  max-width: 300px;
  width: 100%;
  background: salmon;
  height: 500px;
  border-radius: 5px;
  box-shadow: var(--deck-box-shadow);

}

.back-card {
  max-width: 300px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: salmon;
  height: 500px;
  border-radius: 5px;
  pointer-events: none;
}

.taken-card-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* width: 100%; */
}

.taken-card-container > div {
  /* flex: 21%; explanation below */
  /* display: inline-block; */
  /* margin: 5px; */
  /* flex: 33%; */
  /* display: flex; */
  width: 100%;
  /* max-width: 33%; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 100px;
  border: solid red 2px;
  background-color: blue;
}

.taken-card {
  max-width: 300px;
  width: 100%;
  position: absolute;
  /* z-index: -1; */
  /* background: salmon; */
  height: 550px;
  border-radius: 5px;
  /* pointer-events: none; */
  transition: 0.5s ease-in-out;
  z-index: 0;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* This container is needed to position the front and back side */
.taken-card__inner {
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: solid red 1px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .taken-card:hover {
  transform: rotateY(180deg);
} */

/* Position the front and back side */
.taken-card__front, .taken-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.taken-card__front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.taken-card__back {
  /* background-image: url(../img/1.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  transform: rotateY(180deg);
}

.animate-deck {
  animation-iteration-count: 1;
  animation: deckTilt var(--animation-timing) forwards;
}

.animate {
  animation-iteration-count: 1;
  animation: shuffle var(--animation-timing) forwards;
}

@keyframes deckTilt {
  from {
  }
  50% {
    transform: translateX(-80px) rotate3d(0, 1, 0, 40deg) rotate3d(0, 0, 1, -10deg);
  }
  to {
  }
}

@keyframes shuffle {
  from {
    box-shadow: var(--back-card-box-shadow);
    transform: scale(0.8);
  }
  50% {
    transform: translateX(350px) rotate3d(0, 0, 1, 10deg) rotate3d(1, 0, 0, 20deg);
    box-shadow: var(--deck-box-shadow);
    z-index: -1;
  } 
  51% {
    z-index: 1;
  }
  to {
    z-index: 1;
  }
}